body {
    font-family: Roboto , sans-serif;
}

.navbar {
    background-color: rgb(70, 146, 222);
}

#cabecalho .nav .nav-link.active{
    background-color: white;
    color:  rgb(70, 146, 222);
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover {
    color: white;
}

.section-title{
    font-family: "Send Flowers", cursive; ;
}

.navbar-toggler{
    background-color: rgba(164, 186, 209, 0.733);
}

.top img{
    width: 45px;
    height: 45px;
}

.carousel-inner img{
    width: 100%;
    height: 450px;
}

.text-color{
    color: rgb(70, 146, 222);
}

#home{
    background-color: rgba(70, 146, 222, 0.283);
}

.nav-investimento .nav-link.active{
    background-color:rgb(70, 146, 222) ;
    color: white;
}

.nav-investimento .nav-link.active:hover{
    color: white;
}

.nav-investimento .nav-link:hover{
    color: rgb(70, 146, 222);
}

.card img{
    width: 100%;
    height: 200px;
}

.card-body{
    height: 320px;
}

.fw-bold.text-md-start.nav-link.text-color.positiva.active{
    background-color: green;
}

.fw-bold.text-md-start.nav-link.text-color.positiva.active:active{

}

.fw-bold.text-md-start.nav-link.text-color.negativa{
    background-color: red;
}

